# 2.1 - Introducción a Python

https://docs.python.org/3/

![python](https://logos-world.net/wp-content/uploads/2021/10/Python-Logo.png)


Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código. Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.

Es administrado por la Python Software Foundation. Posee una licencia de código abierto, denominada Python Software Foundation License.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

```python
Bonito es mejor que feo.
Explícito es mejor que implícito.
Simple es mejor que complejo.
Complejo es mejor que complicado.
Plano es mejor que anidado.
Disperso es mejor que denso.
La legibilidad cuenta.
Los casos especiales no son tan especiales como para romper las reglas.
Aunque la practicidad gana a la pureza.
Los errores nunca deben pasar en silencio.
A menos que se silencien explícitamente.
Ante la ambigüedad, rechaza la tentación de suponer.
Debe haber una -y preferiblemente sólo una- forma obvia de hacerlo.
Aunque esa manera puede no ser obvia al principio, a menos que seas holandés.
Ahora es mejor que nunca.
Aunque nunca es a menudo mejor que *ahora mismo*.
Si la implementación es difícil de explicar, es una mala idea.
Si la implementación es fácil de explicar, puede ser una buena idea.
Los espacios de nombres son una gran idea, ¡hagamos más de ellos!
```

**Tabla de contenidos:**

    1  Números enteros (integer)
    2  Números reales (float)
    3  Números complejos (complex)
    4  Operaciones básicas
    5  Booleanos
    6  Valores nulos (None)
    7  Cadenas de caracteres (string)
    8  Tipos compuestos:
        8.1  Listas
        8.2  Tuplas
        8.3  Conjuntos (set)
        8.4  Diccionarios
    9  Más

## Números enteros (integer)

In [2]:
edad = 39

display(edad)

39

In [3]:
type(edad)

int

In [4]:
type(0)

int

In [5]:
type(80)

int

In [6]:
type(-4)

int

## Números reales (float)

In [7]:
temp = 23.4

temp

23.4

In [8]:
type(temp)

float

In [ ]:
type(3.141592)

In [ ]:
type(-1.54)

In [ ]:
type(0.56)

In [ ]:
type(.56)

In [ ]:
type(20.)

In [ ]:
float(edad)

In [ ]:
int(0.45)

## Números complejos (complex)

In [9]:
1j

1j

In [10]:
4 + 1j

(4+1j)

In [11]:
type(1j)

complex

## Operaciones básicas

In [ ]:
# suma
3 + 4

In [ ]:
3.7 + 90

In [ ]:
suma = 3 + 6

suma

In [ ]:
# resta 

3.4 - 5

In [ ]:
3 - 2

In [ ]:
48.9 - temp

In [ ]:
# multiplicacion

3 * 5

In [ ]:
4 * 9.43

In [15]:
a = 'helder'
type(a)

str

In [16]:
a*3

'helderhelderhelder'

In [ ]:
b = 'freddy'
a+b

In [ ]:
# division
3 / 7

In [ ]:
7 / 0.16

In [ ]:
type(7 / 0.16)

In [ ]:
7 / 0

In [ ]:
# division entera
20 / 3

In [ ]:
a = int(20 / 3)

In [ ]:
int(.2)

In [ ]:
int(1.72)

In [12]:
b =20 // 3

In [17]:
a == b

False

In [ ]:
a != b

In [ ]:
round(1.50)

In [ ]:
# modulo (resto de la division)
20 % 3

In [ ]:
15 % 3

In [ ]:
14%2 #Nos podría servir para saber si los numeros son pares o impares

In [ ]:
20/3

In [ ]:
# jerarquia de operaciones
2 + 3 * 5 #primero multiplica y luego suma

In [ ]:
(2 + 3) * 5

In [ ]:
# potencia/raiz
2 ** 3

In [ ]:
3 ** (1+2+3)

In [ ]:
round(8 ** (1/2)) #podemos hacer raices con las potencias de fracciones

In [ ]:
int(2 ** 0.5)

In [ ]:
# conversiones
abs(-5)  # valor absoluto

In [ ]:
b = 3.5721
a = int(b)   # conversion a entero
type(a)

In [ ]:
type(b)

In [ ]:
float(7)    # conversion a float

In [ ]:
cadena = '3.456677'
type(cadena)

In [ ]:
type(float(cadena))

In [ ]:
round(5.17)

In [ ]:
type(round(5.17))

In [ ]:
round(5.19488759386396937, 7)   # a 4 decimales

In [ ]:
float(1+1j)

In [ ]:
int(float('3.523'))

In [18]:
import math

In [ ]:
#help(math)

In [19]:
math.floor(8.9437284279384)

8

In [ ]:
help(math.ceil) #Así podemos consultar los metodos

In [ ]:
math.ceil(8.1437284279384)

In [ ]:
math.sqrt(4) #raiz cuadrada /square root

In [ ]:
4**1/2

In [ ]:
import math as m

In [ ]:
m.sqrt(4)

In [ ]:
m.log10(100)

## Booleanos

In [ ]:
bool(0)

In [ ]:
bool(1)

In [ ]:
True

In [ ]:
False

In [ ]:
a = bool(0.9453)

In [ ]:
a

In [ ]:
True == False

In [ ]:
0.5 == .5

In [ ]:
50 < 100

In [ ]:
50 > 100

In [ ]:
not True

#### Ley de De Morgan
```python
not (a or b) == (not a) and (not b)
not (a and b) == (not a) or (not b)
```

In [ ]:
not (False and True)

In [ ]:
(not False) or (not True)

## Valores nulos (None)

In [20]:
print(None)

None

In [21]:
type(None)

NoneType

## Cadenas de caracteres (string)

In [ ]:
nombre = 'Pepe'
nombre

In [ ]:
type(nombre)

In [ ]:
type('hola')

In [ ]:
# cuidado con las comillas
"pedro's'"

In [ ]:
"hola es Gamma'"

In [ ]:
'2"'

In [ ]:
# esto es un comentario de una linea

In [ ]:
'''
Aqui puedo escribirlo que me de la gana que no va a pasar nada de nada
Es un comentario multilinea
'''
variable = 'Estoy fuera de un comentario'
variable

In [ ]:
edad

In [ ]:
parrafo = '''

Hola pedo
te escribo para decirte
    Es un comentario multilinea
'''

In [ ]:
parrafo

In [ ]:
'usuario/carpeta/archivo.csv'  # ruta Mac-linux

In [ ]:
r'C:\usuario\carpeta'   # r delante significa raw (en crudo)

In [ ]:
print('hola, estoy en:\n Gamma')

In [ ]:
print('hola, estoy en : \t Gamma')  # \t es el tabulador

![AQUI NOS HEMOS QUEDADO](https://wompampsupport.azureedge.net/fetchimage?siteId=7575&v=2&jpgQuality=100&width=700&url=https%3A%2F%2Fi.kym-cdn.com%2Fentries%2Ficons%2Ffacebook%2F000%2F002%2F144%2FYou_Shall_Not_Pass!_0-1_screenshot.jpg)

### ***Aquí nos hemos quedado Javi***

# OPERANDO CON STRINGS

In [22]:
# operaciones con strings

'hola' + 2

TypeError: can only concatenate str (not "int") to str

In [23]:
'hola' + '2'

'hola2'

In [24]:
'hola' * 2

'holahola'

In [25]:
'hola' * 2.32243

TypeError: can't multiply sequence by non-int of type 'float'

In [26]:
'hola' - 'h'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [27]:
contador = 0
contador = contador + 1
print(contador)

1

In [29]:
contador = 0
contador += 1
contador += 1
print(contador)

2

In [30]:
saludo = 'hola'
print(saludo)

hola

In [ ]:
saludo = saludo + '2'

In [31]:
saludo = 'hola'

saludo += '2' # saludo = saludo + '2'

saludo

'hola2'

In [33]:
perro = 'Bobi'
print('Mi mascota es ' + perro)

Mi mascota es Bobi

In [34]:
a=2

a+=2      # a = a+2

print(a)

4

In [35]:
a=2

a-=2      # a = a-2

print(a)

0

In [36]:
a=2

a*=5      # a = a*5

print(a)

10

In [37]:
a=2

a/=5      # a = a/5

print(a)

0.4

In [50]:
print('Esto es una prueba')
print('Vamos a dejar un espacio\n')
print('*' * 70)
print('ya hay un espacio')

Esto es una prueba
Vamos a dejar un espacio

**********************************************************************
ya hay un espacio


\n esto sirve para dar un salto de parrafo

In [51]:
# hola

## FORMATEANDO CADENAS

### Recomendacion: usar f-strings

In [59]:
# formateado de cadenas
edad = 37
f'Hola gente, yo soy Víctor y tengo {edad} años' #Variables entre llaves y la f delante

'Hola gente, yo soy Víctor y tengo 37 años'

In [55]:
nombre = 'Javi'
f'Hola soy {nombre}'

'Hola soy nombre'

In [58]:
print(f'Hola soy {nombre}')

Hola soy Javi

In [60]:
mensaje_victor = f'Hola gente, yo soy Víctor y tengo {edad} años'
mensaje_victor

'Hola gente, yo soy Víctor y tengo 37 años'

In [61]:
#Otra manera de hacerlo, un poco en deshuso por sus limitaciones y lo que se puede llegar a complicar
'Hola gente, yo soy Víctor y tengo {} años'.format(edad)

'Hola gente, yo soy Víctor y tengo 37 años'

In [62]:
mensaje_victor2 = 'Hola gente, yo soy Víctor y tengo {} años'

In [63]:
mensaje_victor2.format(edad) #Puedo hacer como en el caso anterior

'Hola gente, yo soy Víctor y tengo 37 años'

In [64]:
mensaje_victor.format(edad)

'Hola gente, yo soy Víctor y tengo 37 años'

Aquí teneís mas opciones para formatear cadenas si quereis curiosear

https://realpython.com/python-f-strings/ (muuuuchas más)

In [65]:
deuda = 45.74

'hazme un Bizum, que me debes {:.1f} € , moroso...'.format(deuda) #Mostramos solo un decimal y encima redondea

'hazme un Bizum, que me debes 45.7 € , moroso...'

In [66]:
deuda = 45.76

'hazme un Bizum, que me debes {:.1f} € , moroso...'.format(deuda)

'hazme un Bizum, que me debes 45.8 € , moroso...'

In [67]:
'El resultado de la división es ' + str(round(125.121213213/11.2456879,4 )) + ' , pum magia'
#si lo veis en detalle estoy sumando 3 cadenas ;)

'El resultado de la división es 11.1262 , pum magia'

In [68]:
dividendo = str(round(125.121213213/11.2456879,4 ))
f'El resultado de la división es {dividendo}, pum magia'

'El resultado de la división es 11.1262 , pum magia'

In [69]:
'Me sigues debiendo dinero, ahora son {:.0f} €, y suma {} más de intereses'.format(deuda, 5)

'Me sigues debiendo dinero, ahora son 46 €, y suma 5 más de intereses'

## Input
- Sirve para que la maquina te pida un dato y lo almacene

In [72]:
edad = input('Escribe tu edad: ')
nombre = input('Escribe tu nombre: ')
print(f'Eres {nombre} y tienes {edad} años')

Escribe tu edad45
Escribe tu nombrePepe
Eres Pepe y tienes 45 años

## Métodos de Cadenas

Formato general --> **string**.método()

In [1]:
mi_cadena = 'Hola soy una cadena de prueba de PYTHON'

In [91]:
'Hola soy una cadena de prueba de PYTHON' == mi_cadena #Sí, son iguales

True

In [93]:
mi_cadena.lower()

In [86]:
'Hola soy una cadena de prueba de PYTHON'.lower() #puedo hacerlo sobre cadena o variables tipo string

'hola soy una cadena de prueba de python'

In [97]:
mi_cadena.upper()

'HOLA SOY UNA CADENA DE PRUEBA DE PYTHON'

In [98]:
mi_cadena.title()

'Hola Soy Una Cadena De Prueba De Python'

In [99]:
mi_cadena.capitalize() #PYTHON le ha hecho un lower, no solo a puesto la primera letra como mayus

'Hola soy una cadena de prueba de python'

In [108]:
mi_cadena.lower().upper() #Veis el orden en el que lo ejecuta?

'HOLA SOY UNA CADENA DE PRUEBA DE PYTHON'

## INDICES EN CADENAS

In [2]:
#Vamos a alargar nuestra cadena
cadena_juguetona = mi_cadena+'. Pero necesitamos unas pocas mas de letras para jugar!'
cadena_juguetona

'Hola soy una cadena de prueba de PYTHON. Pero necesitamos unas pocas mas de letras para jugar!'

In [3]:
cadena_juguetona[0]  #.lower() // empezamos a contar desde 0 always!

'H'

In [4]:
cadena_juguetona[1] #Veis por donde va la cosa...

'o'

In [5]:
cadena_juguetona[2].upper(), cadena_juguetona[1], cadena_juguetona[2].upper(),'!'

('L', 'o', 'L', '!')

![](https://external-preview.redd.it/adD5tuWP6-Z7r6RkQrMGHVGtY9KBYKPIK5VrIaQSx98.jpg?auto=webp&s=7254a325f45212910849fb4722fa88635ca887ee)

In [6]:
len(cadena_juguetona) #Tengo 94 caracteres , espacios incluidos

94

In [7]:
cadena_juguetona[94] #Ummm

IndexError: string index out of range

In [8]:
cadena_juguetona[93] #la ultima posicion es la 93

'!'

In [12]:
len(cadena_juguetona)-1

93

In [9]:
cadena_juguetona[len(cadena_juguetona)-1] # len(cadena_juguetona)-1 no deja de ser un numero 94-1 en este caso

'!'

In [10]:
#y si quiero modificar la cadena
cadena_juguetona[0]='i'

TypeError: 'str' object does not support item assignment

In [ ]:
#Python nos está diciendo que 'str' object does not support item assignment --> No podemos hacerlo así..ohhh

In [13]:
cadena_juguetona.replace('!', '???') #Cambiamos las coincidencias de ! por ???

'Hola soy una cadena de prueba de PYTHON. Pero necesitamos unas pocas mas de letras para jugar???'

In [14]:
cadena_juguetona.replace('!', '???')
cadena_juguetona
#La cadena sigue exactamente igual no lo hemos cambiado en la cadena original
#por eso cuando imprimo cadena_juguetona no tiene las ??? al final.
#podría guardar la cadena modificada o trabajar todo el rato con cadena_juguetona.replace('!', '???')

'Hola soy una cadena de prueba de PYTHON. Pero necesitamos unas pocas mas de letras para jugar!'

In [15]:
cadena_juguetona.replace(' ', '_')

'Hola_soy_una_cadena_de_prueba_de_PYTHON._Pero_necesitamos_unas_pocas_mas_de_letras_para_jugar!'

In [16]:
cadena_juguetona.replace(' ', '_', 1)

'Hola_soy una cadena de prueba de PYTHON. Pero necesitamos unas pocas mas de letras para jugar!'

In [17]:
cadena_juguetona.replace(' ','***',3) #Reemplaza las 3 primeras coincidencias

'Hola***soy***una***cadena de prueba de PYTHON. Pero necesitamos unas pocas mas de letras para jugar!'

In [18]:
cadena_juguetona.count('p') #Me cuenta cuantas veces aparece el caracter

3

In [19]:
cadena_juguetona.count('P')

2

In [20]:
cadena_juguetona.lower().count('p') #Como siempre, ojo al orden de ejecucion

5

In [21]:
cadena_juguetona.lower()

'hola soy una cadena de prueba de python. pero necesitamos unas pocas mas de letras para jugar!'

In [22]:
cadena_juguetona.count('p').lower() #Fijaos en el error

AttributeError: 'int' object has no attribute 'lower'

In [24]:
cadena_juguetona.count('p').lower()

AttributeError: 'int' object has no attribute 'lower'

## SLICING CADENAS

Algo así como rebanar cadenas, hacer rebanadas.

Tienen el formato ***[inicio:final:paso]***.

Final y paso son opcionales, pueden ir o no.

In [25]:
string = 'Strings are fun!'
string[:4] #4 primeros caracteres, si no indico nada el inicio es 0 por defecto

'Stri'

In [26]:
string[2:6] #4 caracteres pero desde el índice 2, al 6

'ring'

In [47]:
string[2:6:2]

'rn'

In [49]:
'Strings are fun!'[3:8:3]

'is'

Primera parte
2:6 del indice 2 al 6 --> **RING** y ahora hago *'paquetes'* de 2 --> R~~I~~ N~~G~~ (la I y la G están tachadas)
Por eso la salida del comando anterio es rn

##### GOT IT?? pues ale, abrid un Jupyter y trastead con las cadenas

In [50]:
string[:] #Toda la cadena de inicio a fin

'Strings are fun!'

In [53]:
string

'Strings are fun!'

In [51]:
#Puedo usar los indices en negativo, wtf?!?! Pero cambiamos el sentido de inicio y fin ojo!
string[-1]

'!'

In [52]:
string[-8:-1]

'are fun'

In [54]:
string[::-1] #Ahora si que os ha petado la cabeza

'!nuf era sgnirtS'

# Listas

Es un tipo especial de datos donde podemos agregar en un solo elemento varias cosas aunque no tengan el mismo tipo o formato.

Características:

1. **Ordenada:** esto quiere decir que los elementos dentro de ella están indexados y se accede a ellos a través de una locación indexada. 

2. **Editable:** los elementos dentro de una lista pueden editarse, añadir nuevos o eliminar los que ya tiene. 

3. **Dinámica:** las listas pueden contener diferentes tipos de datos y hasta de objetos. Esto significa que pueden soportar paquetes multidimensionales de datos, como un array o muchos objetos. 

4. **No única:** esencialmente, esto quiere decir que la lista puede contener elementos duplicados sin que arroje un error.

In [55]:
lista = [500, '23', 'Doce', '\U0001F600', 4.32, round(1.0646546)] #Puedo meter cualquier tipo de dato

lista2 = ['cadenas', 'de', 'lista', 'una', 'soy']

lista3 = [1,23,5425,12.22,659,4,3,23]

print(lista,lista2)

[500, '23', 'Doce', '😀', 4.32, 1] ['cadenas', 'de', 'lista', 'una', 'soy']

Seguro que alguno se pregunta como se hace esa tontada --> https://eiposgrados.com/blog-python/emojis-con-python/

In [59]:
lista2[::-1]

['soy', 'una', 'lista', 'de', 'cadenas']

In [60]:
type(lista),type(lista2), type(lista3)

(list, list, list)

In [61]:
len(lista) #Numero elementos

6

In [62]:
min(lista3), max(lista3)

(1, 5425)

In [63]:
min(lista2), max(lista2) #Pero si son strings!?! -->  https://elcodigoascii.com.ar/

('cadenas', 'una')

In [65]:
3 in lista

False

In [66]:
3 in lista3

True

In [67]:
'lista' in lista2

True

In [68]:
sum(lista)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [69]:
sum(lista3)

6150.22

In [70]:
lista2

['cadenas', 'de', 'lista', 'una', 'soy']

In [71]:
str(lista2)[0:5] #Convierto mi lista en string y luego slice

"['cad"

In [73]:
string.split()

['Strings', 'are', 'fun!']

In [76]:
str_list=string.split('r')
str_list

['St', 'ings a', 'e fun!']

In [77]:
'🦄'.join(str_list)

'St🦄ings a🦄e fun!'

In [82]:
'HOLA COLEGAS'.split()

['HOLA', 'COLEGAS']

In [83]:
'HOLA'.split() #por los espacios

['HOLA']

In [103]:
lista3

[1, 23, 5425, 12.22, 659, 4, 3, 23]

In [104]:
lista3[0]=234546 #En listas si podemos hacer lo que no podíamos con las strings

lista3

[234546, 23, 5425, 12.22, 659, 4, 3, 23]

In [114]:
lista3[1:10:2] = ['**','***','****','*****']

In [112]:
lista3[1:3] = [2, 9]

In [115]:
lista3

[234546, '**', 9, '***', 659, '****', 3, '*****']

In [109]:
lista3[1:10:2]

[23, 12.22, 4, 23]

In [116]:
lista3

[234546, '**', 9, '***', 659, '****', 3, '*****']

In [117]:
lista3[1::2]

['**', '***', '****', '*****']

In [118]:
lista3[::2]

[234546, 9, 659, 3]

In [101]:
#restablezco mi cadena a como estaba
lista3 = [1,23,5425,12.22,659,4,3,23]
sorted(lista3)

[1, 3, 4, 12.22, 23, 23, 659, 5425]

In [102]:
sorted(lista3, reverse=True)

[5425, 659, 23, 23, 12.22, 4, 3, 1]

In [ ]:
#help(sorted) podeis echarle un ojo al sorted

### Añadir elementos a una lista

In [119]:
compra = ['huevos', 'patatas', 'carne']
print(compra)

['huevos', 'patatas', 'carne']

In [120]:
compra + 'leche'

TypeError: can only concatenate list (not "str") to list

In [121]:
compra.append('leche')

In [122]:
compra

['huevos', 'patatas', 'carne', 'leche']

In [123]:
compra.append('leche')

In [125]:
compra.append('maiz')

In [132]:
compra.remove('leche')

In [133]:
compra

['huevos', 'patatas', 'carne', 'leche', 'maiz']

In [134]:
compra.pop(2)

'carne'

In [135]:
compra

['huevos', 'patatas', 'leche', 'maiz']

In [136]:
compra.insert(1,'pelota')

In [137]:
compra

['huevos', 'pelota', 'patatas', 'leche', 'maiz']

In [141]:
compra + [98]
compra2 = [74]

compra + compra2

['huevos', 'pelota', 'patatas', 'leche', 'maiz', 98]

In [ ]:
# Añadir metodos de las listas

# BUCLE FOR

In [144]:
lista = [1, 2, 3, 4, 5, 6, 7]
print(lista)

[1, 2, 3, 4, 5, 6, 7]

In [152]:
# Para recorrer listas

for element in lista:
    print(f'antes era un {element}')
    element += 2
    print(f'y ahora soy un {element}')
    
print('\nciclo terminado!')

antes era un 1
y ahora soy un 3
antes era un 2
y ahora soy un 4
antes era un 3
y ahora soy un 5
antes era un 4
y ahora soy un 6
antes era un 5
y ahora soy un 7
antes era un 6
y ahora soy un 8
antes era un 7
y ahora soy un 9

ciclo terminado!

In [163]:
nombres = ['Pepe','Juan','Javi']
for numero in range(len(nombres)):
    print(f'Soy la posicion {numero}')

Soy la posicion 0
Soy la posicion 1
Soy la posicion 2

In [153]:
list(range(len(lista)))

[0, 1, 2, 3, 4, 5, 6]

In [189]:
lista

[1, 2, 3, 4, 5, 6, 7]

In [190]:
lista_pares = []
for numero in lista:
    lista_pares.append(numero*2)
lista_pares

[2, 4, 6, 8, 10, 12, 14]

In [194]:
# Recorremos cada índice en el rango de la longitud de la lista.....

for indice in range(len(lista_pares)):
    print(indice, '---------', lista_pares[indice])
    
print('done!')

0 --------- 2
1 --------- 4
2 --------- 6
3 --------- 8
4 --------- 10
5 --------- 12
6 --------- 14
done!

In [208]:
for i in range(2, 8, 2):    # inicio-fin-paso
    print(i, '---------', lista_pares[i])
    print(f'{i} --------- {lista_pares[i]}')
    
print('done')

2 --------- 6
2 --------- 6
4 --------- 10
4 --------- 10
6 --------- 14
6 --------- 14
done

In [203]:
i, element #Se mantienen con el ultimo valor que han tomado al recorrer la lista o el rango

(5100, 7)

In [173]:
list(enumerate(nombres))

[(0, 'Pepe'), (1, 'Juan'), (2, 'Javi')]

In [204]:
for index, element in enumerate(nombres):
    print(index, '*********' ,element)

0 ********* Pepe
1 ********* Juan
2 ********* Javi

In [206]:
for index in range(len((nombres))):
    print(index, '*********' ,nombres[index])

0 ********* Pepe
1 ********* Juan
2 ********* Javi

In [207]:
list(enumerate(lista_pares)) #Son pares de valores índice y elemento de la lista

[(0, 2), (1, 4), (2, 6), (3, 8), (4, 10), (5, 12), (6, 14)]

In [209]:
a, b = 10, 20  # definir 2 variables

a, b

(10, 20)

In [210]:
a #imprimimos a

10

In [211]:
b #imprimimos b

20

In [212]:
a, b = ('diez', 20)   # unpacking

a

'diez'

In [213]:
b #imprimimos b

20

In [214]:
l1=[1,2,3]

l2=['a', 'b', 'c']

In [215]:
list(zip(l1, l2)) #zip me permite unir dos listas en una lista de tuplas

[(1, 'a'), (2, 'b'), (3, 'c')]

In [216]:
for num,letra in zip(l1, l2):
    print(num, '----',letra)

1 ---- a
2 ---- b
3 ---- c

In [217]:
string

'Strings are fun!'

In [218]:
for letra in string:
    print(letra+'-')

S-
t-
r-
i-
n-
g-
s-
 -
a-
r-
e-
 -
f-
u-
n-
!-

In [219]:
for letra in string:
    print(letra)

S
t
r
i
n
g
s

a
r
e

f
u
n
!

In [221]:
list(enumerate(string))

[(0, 'S'),
 (1, 't'),
 (2, 'r'),
 (3, 'i'),
 (4, 'n'),
 (5, 'g'),
 (6, 's'),
 (7, ' '),
 (8, 'a'),
 (9, 'r'),
 (10, 'e'),
 (11, ' '),
 (12, 'f'),
 (13, 'u'),
 (14, 'n'),
 (15, '!')]

In [229]:
for i,e in enumerate(string):
    if i%2 == True: #Recordais lo de módulo pares e impares...y lo de True 1....
        print(e*2)
    else:
        print(e)

S
tt
r
ii
n
gg
s

a
rr
e

f
uu
n
!!

In [230]:
#Este código es igual que el anterior pero con un cambio, correrá? A ver quien me explica porque sí o porque no
for i,e in enumerate(string):
    if i%2: #==True 
        print(e*2)
    else:
        print(e)

S
tt
r
ii
n
gg
s

a
rr
e

f
uu
n
!!

In [231]:
for _ in range(3):
    print('Hola que tal')

Hola que tal
Hola que tal
Hola que tal

# BUCLE WHILE

Se ejecuta mientras se cumpla (o se deje de cumplir la condición)

In [232]:
a=0


while a<25:
    a+=5   # a = a + 5
    print(f'El valor de a es {a}')
    
print('\nhasta aquí mi bucle')

El valor de a es 5
El valor de a es 10
El valor de a es 15
El valor de a es 20
El valor de a es 25

hasta aquí mi bucle

In [233]:
a=0

for i in range(100):
    
    print(f'El valor de a es {a}')
    
    a+=5   # actualizamos el valor
    
    if a>=10: #comprobamos cuanto vale a
        break #Salimos del bucle

        
print('Fin del bucle')

El valor de a es 0
El valor de a es 5
Fin del bucle

In [234]:
# bucle infinito
a = 0
while True: #Lo mismo que while 1
    print('hola')
    
    a+=2
    
    if a>20: #Si no le ponemos limitación esto seguiría hasta que lo permitiera el kernel, que ya os digo que romperà
        break

hola
hola
hola
hola
hola
hola
hola
hola
hola
hola
hola

In [ ]:
# bucle infinito por si quereis ver cuanto aguanta vustro kernel
'''x=0
while 1:
    print('hola'*x)
    x+=1'''

# **CONDICIONALES**

In [235]:
estudiante = 'Pepe 😷'

estudiante[-1]

'😷'

In [239]:
#%%time 
estudiante = 'Pepe '

if estudiante[-1] == '😷':
    print('Adelante entra')
    
elif estudiante[-1] == '🤪':
    print('Media vuelta y cierra al salir')
    
else:
    print('hola')

hola

In [241]:
a=-6

if a==0:
    print('🤪')
    
elif a>5:
    print('Aprobado')
    
else:
    print('Cate')
    if a == -8:
        print(f'has sacado un {a}')

Cate

In [ ]:
%%time

# secuencia de Fibonacci

a=0
b=1


contador=0

cuantos=10

print(a)
print(b)

print('\n Ahora voy a entrar al bucle')
while contador<cuantos:
        
    c=a+b #Suma de a+b
    print(c)
    
    a=b
    b=c
    
    contador+=1
    
print('Fin!')

# **LISTAS COMPRIMIDAS** (list comprehension)

In [ ]:
lst = []

for i in range(10):
    print(i, lst) #Para que veais lo que hace en cada paso del bucle
    lst.append(i)   # añade los elementos a la lista
    
lst

In [ ]:
lst2 = [i for i in range(10)] #Este código y el de arriba son equivalentes

lst2

In [ ]:
matriz = []

for _ in range(5):   # eje x
    
    lst_y = []
    
    for y in range(5):   # eje y
        
        lst_y.append(y)
        
    matriz.append(lst_y)
    
matriz

In [ ]:
y

In [ ]:
lst_y

In [ ]:
matriz = [[y for y in range(9)] for _ in range(5)]

matriz

In [ ]:
lst = []

for i in range(20):
    
    if i%2:   # los impares
        
        lst.append(i)
        
lst

In [ ]:
lst = [i for i in range(20) if i%2]

lst

In [ ]:
lst = []

for i in range(5):
    
    for j in range(3):
        
        lst.append(i*j)
        
    
        
lst

In [ ]:
lst = [i*j for i in range(5) for j in range(3)]

lst

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
lst.pop(0)

In [ ]:
lst

In [ ]:
lst.remove(0)

In [ ]:
lst

In [ ]:
lst.remove(4)

lst

In [ ]:
lst.sort()

In [ ]:
lst

In [ ]:
lst.sort(reverse=True)

lst

In [ ]:
#help(list)

In [ ]:
lst[0]=1e4

lst

In [ ]:
4e3   # notacion cientifica

In [ ]:
lst.insert(3, 0)    # index, elemento

In [ ]:
lst

## Tuplas

Inmutables

In [ ]:
letras = ('a', 'b', 'c')

letras

In [ ]:
type(letras)

In [ ]:
for e in letras:
    print(e)

In [ ]:
letras.append(0)

In [ ]:
letras.pop()

In [ ]:
letras.sort()

In [ ]:
letras[0]='f'

In [ ]:
type(tuple(lst))

In [ ]:
letras=list(letras)

letras[0]='f'

letras=tuple(letras)

letras

In [ ]:
[i for i in range(10)]

In [ ]:
(i for i in range(10))

## Conjuntos (set)

Son conjuntos de elementos únicos, no se pueden repetir, además ordenados.

In [4]:
lst = [1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3,0,344,4,4,4,4,4,0,4,4]

lst[:5]

[1, 1, 1, 1, 1]

In [5]:
set(lst)

{0, 1, 2, 3, 4, 344}

In [6]:
s=set(lst)

s

{0, 1, 2, 3, 4, 344}

In [8]:
type(s) # que tipo de variable es s?

set

In [11]:
s.add(90.0) # añadir un elemento al set, lo añade al final

In [10]:
list(s)

[0, 1, 2, 3, 4, 344, 90.0]

In [12]:
for e in s:
    print(e)

0
1
2
3
4
344
90.0

In [13]:
s.remove(0)

In [14]:
s

{1, 2, 3, 4, 90.0, 344}

In [16]:
set_1=set([1,1,1,2,3,3,3,3,3,3,4,5,5,6,6,6,76,7,78,8,8,8,9,9,9,99,0,0,0,0])

set_2=set([3, 4, 5, 6, 7, 8, 9, 0, 8 , 0, 780, 78,789,786])

In [17]:
set_1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99}

In [18]:
set_2

{0, 3, 4, 5, 6, 7, 8, 9, 78, 780, 786, 789}

In [19]:
set_1.union(set_2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99, 780, 786, 789}

In [21]:
set_2.union(set_1) #El orden no importa, es un set , lo va a ordenar automaticamente

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99, 780, 786, 789}

In [22]:
set_1.intersection(set_2) #Están es los dos sets

{0, 3, 4, 5, 6, 7, 8, 9, 78}

In [23]:
set_1 - set_2

{1, 2, 76, 99}

In [24]:
set_2 - set_1

{780, 786, 789}

In [25]:
set_1.issubset(set_2) # set_1 es un subconjunto de set_2?

False

In [26]:
set_1.issuperset(set_2)

False

In [27]:
set_1 | set_2  # union   (| == or)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99, 780, 786, 789}

In [28]:
set_1 & set_2  # interseccion  (& == and)

{0, 3, 4, 5, 6, 7, 8, 9, 78}

# DICCIONARIOS

Son conjuntos de elementos almacenados en pares **clave:valor** (key:value)

In [1]:
dict()  #diccionario vacio

{}

In [2]:
type({})

dict

In [3]:
dicc = {'key': 'value', 3: 'hola', True: [1,2,3,4], (1,2,3): 'tupla', 'lista': [1,2,3,4]}

dicc

{'key': 'value',
 3: 'hola',
 True: [1, 2, 3, 4],
 (1, 2, 3): 'tupla',
 'lista': [1, 2, 3, 4]}

In [4]:
type(dicc)

dict

In [5]:
dicc['key'] # acceder a un elemento del diccionario

'value'

In [6]:
dicc[3] #Me arroja el value asociado a esa key

'hola'

In [7]:
dicc[0] #No existe la key 0, no es como en arrays que podemos acceder por el indice

KeyError: 0

In [8]:
dicc['key'] = 'acabo de cambiar el value'

In [9]:
dicc

{'key': 'acabo de cambiar el value',
 3: 'hola',
 True: [1, 2, 3, 4],
 (1, 2, 3): 'tupla',
 'lista': [1, 2, 3, 4]}

In [10]:
dicc['key2'] = 345

In [11]:
dicc #Acabo de añadir una nueva key con su value

{'key': 'acabo de cambiar el value',
 3: 'hola',
 True: [1, 2, 3, 4],
 (1, 2, 3): 'tupla',
 'lista': [1, 2, 3, 4],
 'key2': 345}

### Hay muchas maneras de recorrer un diccionario

In [12]:
dicc.keys()

dict_keys(['key', 3, True, (1, 2, 3), 'lista', 'key2'])

In [13]:
dicc.values()

dict_values(['acabo de cambiar el value', 'hola', [1, 2, 3, 4], 'tupla', [1, 2, 3, 4], 345])

In [14]:
dicc.items()

dict_items([('key', 'acabo de cambiar el value'), (3, 'hola'), (True, [1, 2, 3, 4]), ((1, 2, 3), 'tupla'), ('lista', [1, 2, 3, 4]), ('key2', 345)])

In [53]:
type(dict.items())

dict_items

In [15]:
for k,v in dicc.items(): # k = key, v = value / por cada clave y valor en el diccionario van en pares
    
    print(f'key: {k} ------> value: {v}')

key: key ------> value: acabo de cambiar el value
key: 3 ------> value: hola
key: True ------> value: [1, 2, 3, 4]
key: (1, 2, 3) ------> value: tupla
key: lista ------> value: [1, 2, 3, 4]
key: key2 ------> value: 345

In [16]:
dicc.pop('key') #Elimina la key y su value asociado

'acabo de cambiar el value'

In [17]:
dicc

{3: 'hola',
 True: [1, 2, 3, 4],
 (1, 2, 3): 'tupla',
 'lista': [1, 2, 3, 4],
 'key2': 345}

In [19]:
dicc[4]='Gamma'

dicc

{3: 'hola',
 True: [1, 2, 3, 4],
 (1, 2, 3): 'tupla',
 'lista': [1, 2, 3, 4],
 'key2': 345,
 4: 'Gamma'}

In [20]:
print(dicc.get('lista')) # get es una funcion que me permite acceder a un elemento del diccionario

[1, 2, 3, 4]

In [21]:
dicc.get('key que no existe en mi dict', 'No lo encuentro') #Si no encuentra la key, me devuelve el segundo argumento

'No lo encuentro'

In [22]:
dicc.get(3, 'No lo encuentro')

'hola'

In [79]:
alumnos ={'alumnos': [{'nombre': 'Helder'}, #Esto es un diccionario de listas de diccionarios
                {'nombre': 'Lucas'},
                {'nombre': 'Will'},
                {'nombre': 'Isa'},
                {'nombre': 'Álex'},
                {'nombre': 'Freddy'},
                {'nombre': 'Stratos'},
                {'nombre': 'Manu'}]}


print(f'alumnos es un : {type(alumnos)}')
for e in alumnos['alumnos']:
    print(f"cada elmento en alumnos['alumnos'] es :{type(e)}")
    print(f"cada nombre de alumno es {type(e['nombre'])}")
    print(e['nombre']+'\n')

alumnos es un : <class 'dict'>
cada elmento en alumnos['alumnos'] es :<class 'dict'>
cada nombre de alumno es <class 'str'>
Helder

cada elmento en alumnos['alumnos'] es :<class 'dict'>
cada nombre de alumno es <class 'str'>
Lucas

cada elmento en alumnos['alumnos'] es :<class 'dict'>
cada nombre de alumno es <class 'str'>
Will

cada elmento en alumnos['alumnos'] es :<class 'dict'>
cada nombre de alumno es <class 'str'>
Isa

cada elmento en alumnos['alumnos'] es :<class 'dict'>
cada nombre de alumno es <class 'str'>
Álex

cada elmento en alumnos['alumnos'] es :<class 'dict'>
cada nombre de alumno es <class 'str'>
Freddy

cada elmento en alumnos['alumnos'] es :<class 'dict'>
cada nombre de alumno es <class 'str'>
Stratos

cada elmento en alumnos['alumnos'] es :<class 'dict'>
cada nombre de alumno es <class 'str'>
Manu

In [24]:
lst1=['a', 'b', 'c']

lst2=[1, 2, 2, 4]

In [25]:
list(zip(lst1, lst2))
#type(list(zip(lst1, lst2)))

[('a', 1), ('b', 2), ('c', 2)]

In [27]:
dict(zip(lst1, lst2))

{'a': 1, 'b': 2, 'c': 2}

In [28]:
d={}

for k,v in zip(lst1, lst2):
    
    d[k]=v
    
d

{'a': 1, 'b': 2, 'c': 2}

In [29]:
{k:v+4 for k,v in zip(lst1, lst2)}

{'a': 5, 'b': 6, 'c': 6}

# BONUS

`is` vs `==` [Diferencia entre uno y otro](http://net-informations.com/python/iq/is.htm#:~:text=The%20is%20operator%20compares%20the,and%20%3D%3D%20comparison%20operators%20behave.)

In [30]:
a = [1, 2]
b = [1, 2]

In [31]:
a == b

True

In [32]:
a is b

False

In [33]:
id(a) #id de la variable a

140228335574464

In [34]:
id(b) #id de la variable b

140228336995072

In [35]:
a=b

In [36]:
a is b

True

In [37]:
id(a)

140228336995072

In [38]:
id(b)

140228336995072

In [39]:
a.append(8)

a

[1, 2, 8]

In [40]:
b

[1, 2, 8]

In [41]:
a=b[:]

a.append(8)

a

[1, 2, 8, 8]

In [42]:
b

[1, 2, 8]

In [43]:
id(a)

140228335554176

In [44]:
id(b)

140228336995072

`while 1` vs `while True`

Más control del flow --> [Python docs](https://docs.python.org/3/tutorial/controlflow.html)

Tutorial booleanos para ampliar --> [Python Booleans](https://realpython.com/python-boolean/)