In [1]:
import pandas as pd

## 1. Leer el archivo CSV: wine_quality.csv

In [8]:
wine_df = pd.read_csv('datasets/wine_quality.csv')
wine_df[wine_df.duplicated(keep=False)].sort_values('pH')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1959,8.5,0.170,0.31,1.0,0.024,13.0,91.0,0.99300,2.79,0.37,10.1,5
1960,8.5,0.170,0.31,1.0,0.024,13.0,91.0,0.99300,2.79,0.37,10.1,5
3832,6.8,0.310,0.19,3.5,0.086,30.0,130.0,0.99300,2.83,0.44,9.6,5
3831,6.8,0.310,0.19,3.5,0.086,30.0,130.0,0.99300,2.83,0.44,9.6,5
3589,6.8,0.190,0.71,17.5,0.042,21.0,114.0,0.99784,2.85,0.50,9.5,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1335,5.7,0.210,0.24,2.3,0.047,60.0,189.0,0.99500,3.65,0.72,10.1,6
4565,5.8,0.280,0.66,9.1,0.039,26.0,159.0,0.99650,3.66,0.55,10.8,5
4567,5.8,0.280,0.66,9.1,0.039,26.0,159.0,0.99650,3.66,0.55,10.8,5
830,7.3,0.205,0.31,1.7,0.060,34.0,110.0,0.99630,3.72,0.69,10.5,6
834,7.3,0.205,0.31,1.7,0.060,34.0,110.0,0.99630,3.72,0.69,10.5,6

## 2. Obtener información sobre el DataFrame.

## 3. Calcular la media de la columna "alcohol"

## 4. Contar la cantidad de vinos que tienen un pH superior a 3.5.

## 5. Filtrar los vinos con un pH superior a 3.5 y una calidad mayor o igual a 7

## 6. Ordenar el DataFrame por la columna "alcohol" de forma descendente.

## 7. Calcular la calidad promedio para cada tipo de vino ("red" y "white") (pista: group_by)

## 8. Calcular el valor máximo de la columna "chlorides" para vinos rojos con una calidad de al menos 7.

## 9. Calcular el valor mínimo, máximo y promedio de la columna "fixed acidity" para vinos blancos.

## 10. Calcular la cantidad de vinos rojos y blancos en el conjunto de datos.

## 11. Crear una nueva columna llamada "total_acidity" que sea la suma de las columnas "fixed acidity" y "volatile acidity".

## 12. Contar la cantidad de vinos que tienen un nivel de alcohol mayor que la media.

## 13. Calcular la mediana de la columna "residual sugar" para vinos con una calidad de al menos 8.

## 14. Calcular la correlación entre las columnas "volatile acidity" y "pH". (busca en internet como calcular la correlación en pandas)

## 15. Calcular la calidad promedio de los vinos rojos y blancos por separado (group_by)

# Visualización

## 16. Visualizar la distribución de la calidad de los vinos. (counplot)

## 17. Crear un gráfico de dispersión para mostrar la relación entre el alcohol y la calidad de los vinos (pairplot)

## 18. Mostrar la matriz de correlación de todas las características numéricas del conjunto de datos.

Primero crea una matriz de correlaciones y luego usa la funcion heatmap

## 19. Visualizar la distribución de la calidad de los vinos separada por el tipo de vino. (en countplot usa el parametro: hue)

## 20. Visualizar la distribución de una característica numérica en función de la calidad utilizando un violinplot.

# Apply

## 21. Crear una función para clasificar los vinos en base a su calidad: mayor que 7 --> Buena, mayor que 5 --> regular. Si no, mala.

## 22. Crear una función para calcular el contenido de alcohol en términos de porcentaje.

## 23. Crear una función para convertir la columna "type" en minúsculas.

# Joins

## 24. Concatenar dos DataFrames verticalmente:

In [ ]:
df1 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df2 = pd.DataFrame({"A": [7, 8, 9], "B": [10, 11, 12]})

## 25. Concatenale este DataFrames horizontalmente:

In [ ]:
df3 = pd.DataFrame({"C": [13, 14, 15], "D": [16, 17, 18]})

## 26. Realizar una unión de dos DataFrames basada en sus índices (join)

In [ ]:
df4 = pd.DataFrame({"C": [19, 20, 21], "D": [22, 23, 24]}, index=[1, 2, 3])

## 27. Fusionarle este DataFrame utilizando una columna en común (merge)

In [ ]:
df5 = pd.DataFrame({"A": [2, 3, 4], "E": [25, 26, 27]})

## 28. Fusionale este DataFrame utilizando columnas diferentes en cada DataFrame (merge)

In [ ]:
df6 = pd.DataFrame({"F": [4, 5, 6], "G": [28, 29, 30]})