# Pandas (III) - Ejercicios

In [2]:
import numpy as np
import pandas as pd

### 1. Carga el fichero "datos/catastro.tsv" en un DataFrame y haz que el año sea el índice de filas de la información.

In [7]:
df = pd.read_table("datasets/catastro.tsv") #cargado el df ademas con read_table
#pd.read_csv("datasets/catastro.tsv", sep='\t') --> otra forma de hacerlo
df = df.set_index('año')
df

,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
año,,,,,,,,,,,
2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1969.0,214457.0,NaN,1.295259e+08
2014,1,Centro,11,PALACIO,C,Comercial,1407,1921.0,223552.0,NaN,4.076055e+08
2014,1,Centro,11,PALACIO,E,Cultural,36,1937.0,62963.0,NaN,7.582872e+07
2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1919.0,114226.0,NaN,1.954138e+08
2014,1,Centro,11,PALACIO,I,Industrial,22,1942.0,13228.0,NaN,1.180795e+07
...,...,...,...,...,...,...,...,...,...,...,...
2013,21,Barajas,215,CORRALEJOS,O,Oficinas,172,1994.0,538345.0,NaN,6.893051e+08
2013,21,Barajas,215,CORRALEJOS,R,Religioso,2,2006.0,3264.0,NaN,3.059075e+06
2013,21,Barajas,215,CORRALEJOS,T,Espectáculos,1,1995.0,14720.0,NaN,1.639676e+07
2013,21,Barajas,215,CORRALEJOS,V,Residencial,2939,1999.0,433231.0,NaN,5.177294e+08
2013,21,Barajas,215,CORRALEJOS,Y,Sanidad y Beneficencia,2,2000.0,7395.0,NaN,1.040851e+07

In [8]:
df2 = pd.read_csv("datasets/catastro.tsv", sep='\t', index_col = 'año')
df2.head()

,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
año,,,,,,,,,,,
2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1969.0,214457.0,NaN,1.295259e+08
2014,1,Centro,11,PALACIO,C,Comercial,1407,1921.0,223552.0,NaN,4.076055e+08
2014,1,Centro,11,PALACIO,E,Cultural,36,1937.0,62963.0,NaN,7.582872e+07
2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1919.0,114226.0,NaN,1.954138e+08
2014,1,Centro,11,PALACIO,I,Industrial,22,1942.0,13228.0,NaN,1.180795e+07

### 2. Obtén el número de registros del barrio "PALACIO" para el año 2014.

In [24]:
palacio_2014 = df.loc[(df['barrio'] == 'PALACIO') & (df.index == 2014)]
palacio_2014.shape[0]

13

In [26]:
#Otra manera
df[(df['barrio'] == 'PALACIO') & (df.index == 2014)]['distrito'].count()

13

In [37]:
#Que pasa si la columna que conteo tiene Nan'??
df[(df['barrio'] == 'PALACIO') & (df.index == 2014)]['barrio'].count()

13

### 3. Selecciona las columnas sup_cons y valor_catastral para los 15 primeros registros con año 2013 y de uso Residencial.

In [44]:
df[(df.index == 2013)&(df["id_uso"] == "V")][['sup_cons', 'valor_catastral','uso']].head(15)
df_15 = df[(df.index == 2013)&(df["id_uso"] == "V")][['sup_cons', 'valor_catastral','uso']].head(15)

In [42]:
df[(df.index == 2013)&(df["id_uso"] == "V")][['sup_cons', 'valor_catastral','uso']].sort_values(by='sup_cons', ascending = False).head(15)

       sup_cons  valor_catastral          uso
año
2013  3603827.0     2.958898e+09  Residencial
2013  2955018.0     3.191385e+09  Residencial
2013  2755580.0     3.282051e+09  Residencial
2013  2518536.0     2.214158e+09  Residencial
2013  2289032.0     2.638440e+09  Residencial
2013  2248471.0     2.273535e+09  Residencial
2013  2163308.0     1.674248e+09  Residencial
2013  2154765.0     2.959692e+09  Residencial
2013  2131535.0     2.381830e+09  Residencial
2013  2001550.0     2.165519e+09  Residencial
2013  1991294.0     2.474862e+09  Residencial
2013  1955176.0     1.780455e+09  Residencial
2013  1902523.0     1.398108e+09  Residencial
2013  1877657.0     3.132733e+09  Residencial
2013  1872821.0     2.604646e+09  Residencial

### 4. Añade una columna al resultado del DataFrame anterior que contenga el ***valor medio por metro cuadrado.***

In [50]:
df_15['€_m2'] = (df_15.valor_catastral / df_15.sup_cons).round(2) #Otra manera de hacer el round
df_15

       sup_cons  valor_catastral          uso     €_m2
año
2013  1370699.0     1.859333e+09  Residencial  1356.48
2013  1991294.0     2.474862e+09  Residencial  1242.84
2013   778432.0     1.181972e+09  Residencial  1518.40
2013  1339143.0     2.164152e+09  Residencial  1616.07
2013  1804472.0     2.466697e+09  Residencial  1366.99
2013   651466.0     9.247622e+08  Residencial  1419.51
2013   992802.0     1.286874e+09  Residencial  1296.20
2013  1644314.0     2.082583e+09  Residencial  1266.54
2013   767930.0     9.035908e+08  Residencial  1176.66
2013   877666.0     1.244198e+09  Residencial  1417.62
2013  1213772.0     1.499766e+09  Residencial  1235.62
2013  1162594.0     1.362557e+09  Residencial  1172.00
2013    53023.0     8.073477e+07  Residencial  1522.64
2013  1607882.0     2.057542e+09  Residencial  1279.66
2013   814031.0     1.112982e+09  Residencial  1367.25

In [53]:
df_15['€_m2'].mean().round(2) #hacemos la media de la columna que acabamos de hacer y redondeamos a 2 decimales

1350.3

### 5. Utilizando una pivot table obtén el total de valor catastral por uso y año.

In [56]:
df.head()

,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
año,,,,,,,,,,,
2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1969.0,214457.0,NaN,1.295259e+08
2014,1,Centro,11,PALACIO,C,Comercial,1407,1921.0,223552.0,NaN,4.076055e+08
2014,1,Centro,11,PALACIO,E,Cultural,36,1937.0,62963.0,NaN,7.582872e+07
2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1919.0,114226.0,NaN,1.954138e+08
2014,1,Centro,11,PALACIO,I,Industrial,22,1942.0,13228.0,NaN,1.180795e+07

In [55]:
pd.pivot_table(df, values = 'valor_catastral', index = ['año'], columns = ['uso'], aggfunc = np.sum)

uso,Almacén-Estacionamiento,Comercial,Cultural,Deportivo,Edificio Singular,Espectáculos,Industrial,Ocio y Hostelería,Oficinas,Religioso,Residencial,Sanidad y Beneficencia,"Suelos sin edificar, obras de urbanización y jardinería"
año,,,,,,,,,,,,,
2013,8.512012e+07,1.755300e+08,6.482312e+07,2.676490e+07,5.821199e+07,1.565860e+07,5.220333e+07,5.572705e+07,2.357049e+08,1.137544e+07,1.373089e+09,3.913039e+07,8.367823e+07
2014,8.597583e+07,1.778695e+08,6.613919e+07,2.754015e+07,6.027959e+07,1.600965e+07,5.261844e+07,5.569933e+07,2.340340e+08,1.141232e+07,1.378396e+09,4.025522e+07,8.104857e+07

In [2]:
#Pequeño Tip para importar datasets
import seaborn as sns
df = sns.load_dataset('iris') #datasets flores
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### 6. Crea una función que a partir de un registro del fichero del catastro, calcule el valor catastral medio por inmueble y aplica esta función a los 10 últimos registros de la tabla del catastro. La funcion tiene que recibir una ruta (donde está el dataset) y pedir al usuario un input de en qque columna quiere que apliquemos la funcion.

In [8]:
# Solucion lucas
def mean_valor_catastral(ruta):
    import pandas as pd
    df = pd.read_csv(ruta,sep = '\t')
    #Habría que dar una lista de opciones...
    opciones = df.columns.to_list() #lista columnas del df que nos pasan
    columna = input(f'Escribe la columna que vaya aplicar la funcion: \n {opciones}')
    return df[columna].tail(10).mean()

In [ ]:
#Si tenemos mas tiempo y ganas......
def mean_valor_catastral(ruta):
    extension = ruta.split(".")[-1]
    if extension == "csv":
        df = pd.read_csv(ruta)
    #tenemos que pedirle a usuario que nos diga sobre que columna tenemos que aplicar la funcion
        lista_columnas_numericas = df.select_dtypes(include = ['int','float']).columns.to_list()
        columna = input(f"¿Sobre que columna quieres aplicar la funcion? {lista_columnas_numericas}")
    if extension == "tsv":
        df = pd.read_table(ruta)
        lista_columnas_numericas = df.select_dtypes(include = np.number).columns.to_list()
        columna = input(f"¿Sobre que columna quieres aplicar la funcion? {lista_columnas_numericas}")
    if extension == "xlsx":
        df = pd.read_excel(ruta)
        lista_columnas_numericas = df.select_dtypes(include = np.number).columns.to_list()
        columna = input(f"¿Sobre que columna quieres aplicar la funcion? {lista_columnas_numericas}")
    if extension == "json":
        df = pd.read_json(ruta)
        lista_columnas_numericas = df.select_dtypes(include = np.number).columns.to_list()
        columna = input(f"¿Sobre que columna quieres aplicar la funcion? {lista_columnas_numericas}")
    if extension == "xml":
        df = pd.read_xml(ruta)
        lista_columnas_numericas = df.select_dtypes(include = np.number).columns.to_list()
        columna = input(f"¿Sobre que columna quieres aplicar la funcion? {lista_columnas_numericas}")
    
    #preguntamos al usuario que nos diga si la media de esa columna la quiere agrupada por otra columna:
    agrupamos = input("¿Quieres agrupar la media por alguna columna? (S/N)")
    if agrupamos == "S":
        lista_columnas = df.columns.to_list()
        columna_agrupar = input(f"¿Por que columna quieres agrupar? {lista_columnas}")
        return df.groupby(columna_agrupar)[columna].mean() #aqui no hago tail porque no me da la gana
    else:
        return df[columna].tail(10)mean()

### 7. Utilizando groupby, obtén el total de número de inmuebles y valor catastral por año y uso.

In [19]:
catastro_df = pd.read_csv("datasets/catastro.tsv",sep = '\t')
catastro_df = catastro_df.set_index('año')
inmuebles_catastro = catastro_df[['valor_catastral','num_inmuebles','uso']]
inmuebles_catastro.head(3)

      valor_catastral  num_inmuebles                      uso
año
2014     1.295259e+08           3034  Almacén-Estacionamiento
2014     4.076055e+08           1407                Comercial
2014     7.582872e+07             36                 Cultural

In [21]:
agrupacion = inmuebles_catastro.groupby(by= [inmuebles_catastro.index,'uso']).sum()
agrupacion

                                                         valor_catastral
año  uso
2013 Almacén-Estacionamiento                                1.089538e+10  \
     Comercial                                              2.246784e+10
     Cultural                                               8.102890e+09
     Deportivo                                              3.292083e+09
     Edificio Singular                                      5.297291e+09
     Espectáculos                                           8.455646e+08
     Industrial                                             6.629823e+09
     Ocio y Hostelería                                      6.297157e+09
     Oficinas                                               3.017023e+10
     Religioso                                              1.353677e+09
     Residencial                                            1.757554e+11
     Sanidad y Beneficencia                                 4.813037e+09
     Suelos sin edificar, obras de urbanización y ja...     1.054346e+10
2014 Almacén-Estacionamiento                                1.100491e+10
     Comercial                                              2.276730e+10
     Cultural                                               8.333538e+09
     Deportivo                                              3.414979e+09
     Edificio Singular                                      5.606002e+09
     Espectáculos                                           8.645211e+08
     Industrial                                             6.682542e+09
     Ocio y Hostelería                                      6.349723e+09
     Oficinas                                               2.995635e+10
     Religioso                                              1.358066e+09
     Residencial                                            1.764346e+11
     Sanidad y Beneficencia                                 4.951392e+09
     Suelos sin edificar, obras de urbanización y ja...     1.013107e+10

                                                         num_inmuebles
año  uso
2013 Almacén-Estacionamiento                                    505374
     Comercial                                                   97324
     Cultural                                                     2348
     Deportivo                                                    1109
     Edificio Singular                                             428
     Espectáculos                                                  127
     Industrial                                                  12199
     Ocio y Hostelería                                            6582
     Oficinas                                                    31642
     Religioso                                                     697
     Residencial                                               1445957
     Sanidad y Beneficencia                                       1495
     Suelos sin edificar, obras de urbanización y ja...          13411
2014 Almacén-Estacionamiento                                    513098
     Comercial                                                   97692
     Cultural                                                     2376
     Deportivo                                                    1133
     Edificio Singular                                             452
     Espectáculos                                                  127
     Industrial                                                  12262
     Ocio y Hostelería                                            6612
     Oficinas                                                    31685
     Religioso                                                     705
     Residencial                                               1452901
     Sanidad y Beneficencia                                       1360
     Suelos sin edificar, obras de urbanización y ja...          13265

### 8. Utilizando el resultado del ejercicio anterior y haciendo un cruce (merge) de información por año, encuentra aquellos usos en los que el número de inmuebles ha disminiuido.

### 9. Utilizando funciones de agrupación y agregación, calcula el porcentaje de representatividad respecto al número de inmuebles de cada uso, por año.